*{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}
a{
    text-decoration: none;
    text-decoration-color: #000000;
}
.content{
    height: 640px;
}
.intro,
.intro .btns,
.log-in,
.sign-in,
.welcome,
.formulario{
    background-image: url(./Imagenes/Fondo.png);
    background-repeat: repeat-x;
    height: 100%;
}
.log-in .log-in-btns,
.form-btn,
.user-info,
.timeline,
.welcome .welcome-btn,
.location{
    height: 100%;
}
.intro .logo,
.log-in .logo,
.intro .intro-text,
.log-in .log-in-data,
.intro .btns,
.log-in .log-in-btns,
.sign-in .header{
    background: rgba(217, 4, 22, 0.8);
}
.user-info .user-info-header, .formulario .imagen,
.formulario .form,
.formulario .form-btn{
    background: rgba(101, 166, 3, 0.8);
}

.formulario .form-btn a{
    background-color: rgba(101, 166, 3);
    border-radius: 16px;
    padding: 7px 25px;

}
.intro .logo img,
.log-in .logo img,
.sign-in .header .logo,
.formulario .imagen img,
.welcome .logo img{
    width: 10rem;
}
.intro .intro-text{
    padding: 15px 10px;
}
.intro .logo,
.log-in .logo,
.log-in .log-in-data,
.log-in .log-in-btns,
.sign-in .header,
.sign-in .sign-in-options,
.user-info .user-info-footer,
.intro .btns,
.formulario .imagen,
.formulario .form-btn,
.welcome .welcome-text h2,
.welcome .logo,
.welcome .welcome-description-text p,
.welcome .button-go{
    text-align: center;
}
.intro .intro-text p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    text-align: center;
    padding: 20px 0px;
}
.intro .btns button,
.welcome button{
    background: #D90416;
    border-radius: 16px;
    color: white;
    border: none;
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    padding: 7px 25px;
}
.intro .btns button:hover{
    cursor: pointer;
}
.intro .btns p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    margin: 1rem;
}
.log-in .log-in-data h3{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 24pt;
    text-align: center;
    padding: 0;
}
.log-in .log-in-data label{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 16pt;
    text-align: center;
}
.log-in .log-in-data input{
    border: none;
    border-radius: 16pt;
    font-size: 16pt;
}
.log-in .log-in-data button{
    background: #D90416;
    border: none;
    border-radius: 16pt;
    color: white;
    padding: 7px 25px;
    font-size: 14pt;
    margin: 10px;

}

.log-in .log-in-btns p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
}
.log-in .log-in-btns img{
    width: 5rem;
}
.sign-in .header .small-imgs{
    height: 2rem;
}
.sign-in .sign-in-options,
.sign-in .sign-in-footer,
.user-info{
    background: rgba(229, 229, 229, 0.8);
}
.sign-in .sign-in-options h3{
    font-family: 'Mitr', sans-serif;
    font-size: 27pt;
    text-align: center;
    color: black;
    padding: 0.5em;
}
.sign-in .sign-in-options img{
    width: 5rem;
}
.sign-in .sign-in-options button,
.user-info .user-info-footer button{
    border-style: solid;
    border-radius: 16pt;
    border-width: 1px;
    border-color: black;
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    margin: 1rem;
    padding: 7px 32px;

}
.sign-in .sign-in-options button img{
    width: 3rem;
}
.sign-in .modal-imgs{
    margin: 15px auto;
}
.sign-in .sign-in-options .modal-options p,
.sign-in .sign-in-options .modal-options a{
    font-size: 14pt;
    padding-bottom: 10px;
}
.sign-in .sign-in-footer,
.user-info .user-info-footer i{
    font-size: 20pt;
}
.user-info .user-info-header{
    height: 9rem;
}
.user-info .user-info-header img{
    
}
.user-info .info-inputs{
    padding: 15px;
    text-align: center;
}
.user-info .info-inputs label{
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    margin-bottom: 5px;
}
.user-info .info-inputs input{
    border: none;
    border-radius: 16pt;
    font-size: 18pt;
}
.user-info .info-inputs input:nth-child(3){
    height: 8rem;
    font-size: 18pt;
}
.user-info .user-info-footer{
    padding-top: 30px;
}
.user-info .user-info-footer button{
    font-size: 18pt;
    border-style: solid;
    border-radius: 16pt;
    border-width: 1px;
    border-color: black;
}
/* PANTALLA DE BIENVENIDA */
.welcome-text,
.welcome-description-text,
.welcome .logo,
.welcome .welcome-btn{
    background: rgba(229, 229, 229, 0.8);
}
.welcome-text h2{
    font-size: 50px;
    line-height: 78px;
    color: #000000;
    padding: 25px 10px;
    }
.welcome{
   display: block;
}
.welcome-description-text p{
   font-size: 25px;
   line-height: 39px;
   color: #000000;
   padding: 25px 10px;
}
.welcome .button-go{
    margin-left: 30%;
    margin-top: 20%;
}
/*formulario*/
.formulario .form{
    padding: 0px 0px 10px 10px;
    text-align: center;
}
.formulario .form label{
    font-size: 18pt;
}
.formulario .form input{
    border-style: none;
    border-radius: 16px;
    font-size: 18pt;
    margin-bottom: 12px;
}
.formulario .form-btn button{
    background: rgba(101, 166, 3);
    border: none;
    border-radius: 16pt;
    color: white;
    padding: 7px 25px;
    font-size: 14pt;
    
}
/*Timeline*/
.timeline{
    background-color: rgba(101, 166, 3);
}
.timeline .nav,
.location-places .nav-timeline{
    height: 10%;
    background-color: #d97904;
}
.timeline .nav .nav-btns li img,
.timeline .nav .cajas .imagen{
    width: 50px;
    height: 50px;
}
.timeline .nav .nav-btns
.nav-timeline{
    background: rgba(101, 166, 3);
}
.timeline .nav .nav-btns .menu-btn,
.location-places .nav-timeline .menu-btn{
    margin-right: 24%;
}
.timeline .published-posts{
    overflow: auto;
    height: 67%;
}
.timeline .new-post{
    position: fixed;
    height: 20%;
    width: 100%;
    border-top-style: solid;
    border-color: rgba(101, 166, 3);
    background-color: rgba(229, 229, 229);
    padding: 0px 0px 0px 10px;
}
.timeline .new-post img{
    width: 50px;
    padding-top: 10px;
}
.timeline .new-post .input{
    font-size: 14pt;
    margin-left: 10px;
    font-size: 10pt;
}
.timeline .new-post button{
    border-style: solid;
    border-color: rgba(101, 166, 3);
    border-radius: 4pt;
    padding: 1% 4%;
    font-size: 12pt;
    margin-left: 5px;
}
.timeline .published-posts .post{
    height: max-content;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: "user post"
                         "user buttons"; 
    padding: 10px 15px;
    margin: 1%;
    background-color: rgba(229, 229, 229);
}
.timeline .published-posts .post img{
    grid-area: user;
    width: 40%;
}
.timeline .published-posts .post textarea{
    margin-bottom: 5%;
    grid-area: post;
    background-color: rgba(229, 229, 229);
    border: none;
    font-size: 16pt;
    color: black;
}
.timeline .published-posts .post button{
    grid-area: buttons;
    padding: 0px 8px;
    border-style: solid;
    border-color: rgba(130, 130, 130);
    border-radius: 4px;
    height: 2rem;
    align-self: end;
}
.timeline .published-posts .post .delete-btn{
    justify-self: center;
}
.timeline .published-posts .post .edit-btn{
    justify-self: end;
}
.location-places .location-map figure iframe{
    width: 100%;

}
.location-places .location-map figure{
    margin: 10px;
}
/*Location*/
.location-places .nav-timeline img{
    border:0;
    width: 15%;
    height: 15%;
}
.nearby-places .opinions-button{
    background:#D97904; 
    font-family: 'Mitr', sans-serif;
    border-radius: 16px;
    padding: 1%;
}
.nav-btns{
    padding: 4px 8px;
}
.nav-btns li{
    display: inline;
    text-align: left;
    margin: 0 10px 0 0;
}
